* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.netflix-logo {
    font-size: 480px;
    font-weight: bold;
    color: red;
    text-transform: uppercase;
    letter-spacing: 5px;
    position: relative;
    z-index: 10;
    opacity: 1;
    animation: logoDisintegrate 3s forwards; /* Hacer que el logo tarde el doble de tiempo en desaparecer */
}

/* Animación para desintegrar el logo en líneas */
@keyframes logoDisintegrate {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.5);
        opacity: 0;
    }
}

/* Contenedor de las líneas */
.lines-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    pointer-events: none;
    z-index: 1;
}

.line {
    position: absolute;
    background-color: red;
    height: 100vh; /* Altura de la pantalla */
    width: 1px; /* Línea más delgada */
    opacity: 0;
    animation: lineExpand 0.9s forwards;
    transform-origin: center center; /* Expansión desde el centro */
}

/* Animación para expandir las líneas desde el centro de la pantalla hacia ambos lados */
@keyframes lineExpand {
    0% {
        width: 0; /* Empieza con un ancho de 0 */
        opacity: 0.3;
        left: 50%; /* Las líneas comienzan desde el centro de la pantalla */
        transform: translateX(-50%); /* Alineación inicial en el centro */
    }
    100% {
        width: 100%; /* Las líneas crecen a lo largo de toda la pantalla */
        opacity: 1;
        left: 0%;
        transform: translateX(0%); /* Se expanden hacia la izquierda y derecha */
    }
}

/* Estilo para el menú de selección de letra */
.menu-container {
    position: absolute;
    top: 20px;
    z-index: 10;
    color: white;
}

#letterSelector {
    font-size: 16px;
    padding: 5px;
    background-color: black;
    color: white;
    border: 2px solid red;
}

/* Estilo para el botón de reproducir */
#playButton {
    font-size: 18px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#playButton:hover {
    background-color: #d10000; /* Rojo más oscuro cuando se pasa el mouse */
}